table,
th,
td {
    border: 1px solid black;
}

.red-bg {

    background-color: green;
    color: white;
}

#second-paragraph {
    background-color: brown;
}

#logo-image{
    opacity: 25%;
    width: 300;
    height: 200;
}

.black-white {
    background-color: black !important;
    color: white;
}

p {
    background-color: aqua;
}